#content {
    .container {
        p.text {
            margin-top: 10px;
        }

        .form-wrapper {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}