.navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

   .form-wrapper {
     margin-right: 0;
     padding-top: 8px;
     margin-bottom: -8px;
   }
}

#content {
  min-height: calc(100vh - 200px);
}

footer {
  height: 60px;
}

.search-submit-button {
  background-color: rgb(204, 0, 0);
  border-color: rgb(204, 0, 0);
  color: #ffffff;

  &:hover, &:active{
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: #ffffff;
  }

  &:focus {
    color: #ffffff;
  }
}