#content {
  .account {

    .top-row {
      .nickname {
        font-weight: bold;
        font-size: 20px;

        .nickname-link {
          color: black;
        }
      }

      .info {
        .secondary-text {
          color: rgba(0, 0, 0, 0.6);
        }
      }

      margin-top: 20px;
    }

    .clan-info {
      margin-top: 20px;

      .clan-tag a{
        color: #000000;
      }
    }

    .account-info {
      margin-top: 50px;

      .account-info-field {
        height: 150px;

        text-align: center;

        .account-info-field-data {
          color: #000000;
          font-size: 30px;
        }
      }

      .account-info-field-big {
        text-align: center;

        .account-info-field-big-image {
          display: inline-block;
        }

        .account-info-field-big-data {
          margin-top: 20px;
          color: #000000;
          font-size: 30px;
        }
      }
    }

    .main-statistics {
      font-size: 16px;

      margin-bottom: 50px;
      
      .main-statistics-container {
        margin-top: 30px;

        .main-statistics-row {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          margin-bottom: 5px;

          [class^="col"] {
            padding: 0;
          }

          .main-statistics-caption {
            font-size: 18px;
            color: #000;
          }

          .main-statistics-total, .main-statistics-avg {
            text-align: right;
          }
        }
      }
    }

    #tanks {
      margin-top: 30px;
      margin-bottom: 50px;

      #tanksTable {

        thead {
          th {
            text-align: center;
          }
        }

        tbody {

          tr {
            cursor: pointer;
            
            &:hover {
              background: #eeeeee;
            }
            
            td {
              text-align: center;
              vertical-align: middle;
              padding: 0;
              height: 50px;
            }

            .nation-image-wrapper {

              .nation-image {
                height: 20px;
              }
            }

            .tank-image-wrapper {
              height: 50px;
              overflow: hidden;

              .tank-image {
                height: 65px;

                transform: translateY(-10px);
              }
            }

            .mark-of-mastery-image-wrapper {
              text-align: center;

              .mark-of-mastery-image {
                height: 30px;
              }
            }
          }
        }
      }

      .tank-info-panels {

        .tank-name {
          font-size: 18px;
          color: #000000;
          text-shadow: 1px 1px 7px #444444;
        }

        .tank-info-panel {
          display: none;

          &.active {
            display: block;
          }

          .data-panel {
            margin-bottom: 20px;

            .data-panel-field-delimiter {
              display: block;
              height: 20px;
            }

            .data-panel-caption {
              font-size: 16px;
              font-weight: bold;
              color: #000000;
            }

            .data-panel-field {
              display: block;
              position: relative;
              overflow: hidden;

              .data-panel-field-caption {
                display: inline-block;
                float: left;

                color: #7B7B7B;

                &:after {
                  content: '.....................................................................................';
                }
              }

              .data-panel-field-data {
                position: absolute;
                display: inline-block;
                background-color: #fff;
                right: 0;
                z-index: 2;

                color: #000000;

                .empty-value {
                  color: #7B7B7B;
                }
              }
            }
          }
        }
      }
    }
  }
}