.navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .navbar .form-wrapper {
    margin-right: 0;
    padding-top: 8px;
    margin-bottom: -8px; }

#content {
  min-height: calc(100vh - 200px); }

footer {
  height: 60px; }

.search-submit-button {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #ffffff; }
  .search-submit-button:hover, .search-submit-button:active {
    background-color: red;
    border-color: red;
    color: #ffffff; }
  .search-submit-button:focus {
    color: #ffffff; }
